html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Coda', cursive;
  color: #393939;
  background: #fff url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  display: flex;
  width: 660px;
  min-height: 680px;
  margin: 0 0 3em;
  padding: 32px;
  list-style-type: none;
  border-radius: 10px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, .5);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.deck .card {
  font-size: 0;
  display: flex;
  width: 125px;
  height: 125px;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
  background: #2e3d49;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, .5);
  justify-content: center;
  align-items: center;
  background-blend-mode: normal;
}

.deck .card.open {
  cursor: default;
  transform: rotateY(0);
  background: #02b3e4;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.disable {
  pointer-events: none;
}

.deck .card.match {
  font-size: 33px;
  cursor: default;
  background: #02ccba;
}

.deck .card.unmatch {
  background: red;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  display: flex;
  width: 545px;
  margin-bottom: 10px;
  text-align: left;
  justify-content: space-between;
}

.score-panel .stars {
  display: inline-block;
  margin: 0;
  margin: 0 5px 0 0;
  padding: 0;
  color: #ffcd00;
}

.score-panel .stars li {
  display: inline-block;
  list-style-type: none;
}

.score-panel .restart {
  cursor: pointer;
}

.modal-background {

visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 300px; /* Location of the box */
   left: 0;
   top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.46);
  justify-content: center;
  z-index:1;

}
 .modal-content {

   background-color: #fefefe;
 margin: auto;
 padding: 20px;
 right: auto;
 border: 1px solid #888;
 width: 20%;
   z-index: 3;
     position: absolute;
   transform: translate(200%, 10%);
 }

  .modal-body{
     flex-direction:column;
   }
.closebtn {
  float: right;
  color:#ccc;
  font-size:35px;
}

.closebtn:hover, .closebtn:focus {
  cursor: pointer;
  color: red;
}
.modal-title{
  display:flex;
  align-items: center;
  font-weight: bold;
  padding:10px;
  margin:20px;
}
